@-webkit-keyframes drop-banners {
    100% { top: -100px; }
}
@keyframes drop-banners {
    100% { top: -100px; }
}
.contact-links-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20px;
}
#github-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 1.4s;
    animation: drop-banners 350ms forwards;
    animation-delay: 1.4s;
    top: -500px;
}
#linkedin-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 1.2s;
    animation: drop-banners 350ms forwards;
    animation-delay: 1.2s;
    top: -500px;
    left: 150px;
}
#twitter-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 1s;
    animation: drop-banners 350ms forwards;
    animation-delay: 1s;
    top: -500px;
    left: 300px;
}
#codewars-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 1s;
    animation: drop-banners 350ms forwards;
    animation-delay: .8s;
    top: -500px;
    left: 450px;
}
.banner {
    padding: 70px;
    margin-right: 3px;
}
#github {
    background-color: #343434;
    border-left: 2px solid #494949;
    height: 180px;
    z-index: 10;
}
#linkedin {
    background-color: #1F618D;
    border-left: 2px solid #256fa0;
    height: 150px;
    z-index: 10;
}
#twitter {
    position: relative;
    background-color: #0076C6;
    border-left: 2px solid #0091f1;
    height: 120px;
}
#codewars {
    position: relative;
    background-color: #474747;
    border-left: 2px solid #646464;
    height: 100px;
}
.banner-tip {
    position: absolute;
    width: 99px;
    height: 99px;
    transform: rotate(45deg);
}
#github-color {
    margin: -51px 0 0 21px;
    background-color: #343434;
    border-bottom: 2px solid #494949;
}
#linkedin-color {
    margin: -50px 0 0 21px;
    background-color: #1F618D;
    border-bottom: 2px solid #256fa0;
}
#twitter-color {
    margin: -50px 0 0 21px;
    background-color: #0076C6;
    border-bottom: 2px solid #0091f1;
}
#codewars-color {
    margin: -50px 0 0 21px;
    background-color: #474747;
    border-bottom: 2px solid #646464;
}
#hide-name {
    position: absolute;
    margin-top: -2px;
    margin-left: 23px;
    z-index: 100;
    height: 21px;
    width: 92px;
    background-color: #474747;
}
.contact-links-container img {
    position: absolute;
    margin: 140px 0 0 20px;
    z-index: 10;
}
#github-banner:hover, #linkedin-banner:hover, #twitter-banner:hover, #codewars-banner:hover {
    margin-top: 40px;   
    transition: .7s ease-in-out;
}