@-webkit-keyframes drop-banners {
    100% { top: -100px; }
}
@keyframes drop-banners {
    100% { top: -100px; }
}

.contact-links-container {
    position: absolute;
    width: 600px;
    right: 100px;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .4s;
}
.contact-links-container a img {
    width: 100px;
}
.github-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 4s;
    animation: drop-banners 350ms forwards;
    animation-delay: 4s;
    top: -500px;
}
.linkedin-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 4.2s;
    animation: drop-banners 350ms forwards;
    animation-delay: 4.2s;
    top: -500px;
    left: 150px;
}
.twitter-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 4.4s;
    animation: drop-banners 350ms forwards;
    animation-delay: 4.4s;
    top: -500px;
    left: 300px;
}
.codewars-banner {
    position: absolute;
    -webkit-animation: drop-banners 350ms forwards;
    -webkit-animation-delay: 4.6s;
    animation: drop-banners 350ms forwards;
    animation-delay: 4.6s;
    top: -500px;
    left: 450px;
}
.banner {
    padding: 70px;
    margin-right: 3px;
}
#github {
    background-color: #343434;
    border-left: 2px solid #494949;
    height: 280px;
    z-index: 10;
}
#linkedin {
    background-color: #1F618D;
    border-left: 2px solid #256fa0;
    height: 260px;
    z-index: 10;
}
#twitter {
    position: relative;
    background-color: #0076C6;
    border-left: 2px solid #0091f1;
    height: 280px;
}
#codewars {
    position: relative;
    background-color: #474747;
    border-left: 2px solid #646464;
    height: 260px;
}
.banner-tip {
    position: absolute;
    width: 99px;
    height: 99px;
    transform: rotate(45deg);
}
#github-color {
    margin: -51px 0 0 21px;
    background-color: #343434;
    border-bottom: 2px solid #494949;
}
#linkedin-color {
    margin: -50px 0 0 21px;
    background-color: #1F618D;
    border-bottom: 2px solid #256fa0;
}
#twitter-color {
    margin: -50px 0 0 21px;
    background-color: #0076C6;
    border-bottom: 2px solid #0091f1;
}
#codewars-color {
    margin: -50px 0 0 21px;
    background-color: #474747;
    border-bottom: 2px solid #646464;
}
#hide-name {
    position: absolute;
    margin-top: -21px;
    margin-left: 20px;
    z-index: 100;
    height: 25px;
    width: 100px;
    background-color: #474747;
}
.contact-links-container img {
    position: absolute;
    margin: 140px 0 0 20px;
    z-index: 10;
}
.github-banner:hover, .linkedin-banner:hover, .twitter-banner:hover, .codewars-banner:hover {
    margin-top: 40px;   
    transition: .7s ease-in-out;
}
@media(max-width: 800px) {
    .contact-links-container {
        width: 200px;
        right: 20px;
        transition: .4s;
    }
    .contact-links-container a img {
        width: 40px;
    }
    .linkedin-banner {
        left: 55px;
    }
    .twitter-banner {
        left: 110px;
    }
    .codewars-banner {
        left: 165px;
    }
    .banner {
        padding: 25px;
        margin-right: 3px;
    }
    #github, #twitter {
        height: 150px;
    }
    #linkedin, #codewars {
        height: 160px;
    }
    .banner-tip {
        position: absolute;
        width: 37px;
        height: 37px;
        transform: rotate(45deg);
    }
    #github-color {
        margin: -20px 0 0 8px;
        background-color: #343434;
        border-bottom: 2px solid #494949;
    }
    #linkedin-color {
        margin: -20px 0 0 8px;
        background-color: #1F618D;
        border-bottom: 2px solid #256fa0;
    }
    #twitter-color {
        margin: -20px 0 0 8px;
        background-color: #0076C6;
        border-bottom: 2px solid #0091f1;
    }
    #codewars-color {
        margin: -20px 0 0 8px;
        background-color: #474747;
        border-bottom: 2px solid #646464;
    }
    #hide-name {
        position: absolute;
        margin-top: -13px;
        margin-left: 8px;
        z-index: 100;
        height: 18px;
        width: 38px;
        background-color: #474747;
    }
    .contact-links-container img {
        margin: 110px 0 0 7px;
        z-index: 10;
    } 
}