@keyframes appear {
    100% { opacity: 1; }
}
@keyframes spin-x-1 {
    0% { opacity: 0; }
    10% {}
    20% {}
    30% { opacity: 1; }
    40% {}
    50% { transform: rotate(225deg); }
    60% {}
    70% { transform: rotate(180deg); }
    80% {}
    90% {}
    100% { transform: rotate(45deg); }
}
@keyframes spin-x-2 {
    0% { opacity: 0; }
    10% {}
    20% {}
    30% { opacity: 1; }
    40% { transform: rotate(-125deg); }
    50% {}
    60% { transform: rotate(25deg);}
    70% {}
    80% { transform: rotate(525deg); }
    90% {}
    100% { transform: rotate(135deg); }
}
/* Open */
.menu-burger {
    position: absolute;
    top: 50px;
    right: 50px;
}
#menu-close, #menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    cursor: pointer;
    opacity: 0;
    animation: appear 2s forwards;
    animation-delay: 1.5s;
}
.brgr-line {
    background-color: #fff;
    width: 70px;
    height: 4px;
    border-radius: 2mm;
}
#menu-open #brgr-x-1 {
    display: none;
    transition: 1s;
}
#menu-open #brgr-x-2 {
    display: none;
    opacity: 0;
    transition: 1s;
}
.brgr-filling {
    transition: .2s;
}
#menu-open:hover .brgr-filling {
    padding: 15px;
    transition: .2s;
}
#menu-close .brgr-filling {
    padding: 0;
}
/* Close */
#menu-close #brgr-filling {
    padding: 0px;
}
#menu-close #brgr-line-2 {
    opacity: 0;
    transition: .4s;
}
#menu-close #brgr-line-1 {
    opacity: 0;
    transition: .4s;
}
#menu-close #brgr-line-3 {
    opacity: 0;
    transition: .4s;
}
#menu-close #brgr-x-1 {
    margin-top: -15px;
    animation: spin-x-1 2s forwards;
}
#menu-close #brgr-x-2 {
    margin-top: -15px;
    animation: spin-x-2 2s forwards;
}