@keyframes wiggle {
    0% { transform: rotate(0deg); }
   40% { transform: rotate(0deg); }
   55% { transform: rotate(5deg); }
   65% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes appear {
    100% { opacity: 1; }
}
@keyframes appear {
    100% { opacity: 1; }
}
  
#front-menu-burger {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 50px;
    opacity: 0;
    -webkit-animation: appear 2s forwards;
    -webkit-animation-delay: 1.5s;
    animation: appear 2s forwards;
    animation-delay: 1.5s;
}
.front-brgr-line {
    background-color: #fff;
    width: 70px;
    height: 10px;
    margin: 15px;
    border-radius: 2mm;
    transition: .5s;
}
.front-line-shadow {
    background-color: #134160;
    width: 70px;
    height: 10px;
    margin: 100px 0 0 15px;
    border-radius: 2mm;
}
#front-sh-line-1 {
    position: absolute;
    box-shadow: 0px 0px 5px #134160;
    transition: .3s;
}
#front-sh-line-2 {
    position: absolute;
    box-shadow: 0px 0px 5px #134160;
    margin-top: 100px;
    transition: .6s;
}
#front-sh-line-3 {
    box-shadow: 0px 0px 5px #134160;
    margin-top: 100px;
    transition: 1s;
}
#front-burger {
    position: absolute;
    z-index: 10;
}
#front-burger:hover {
    display: inline-block;
    animation: wiggle 1s;
    transition-duration: 1s;
}
#front-burger:hover ~ #front-sh-line-1 {
    width: 60px;
    margin: 54px 0 0 50px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#front-burger:hover ~ #front-sh-line-2 {
    width: 65px;
    margin: 76px 0 0 40px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#front-burger:hover ~ #front-sh-line-3 {
    margin: 100px 0 0 30px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#front-close #front-bg-line-1 {
    position: absolute;
    padding: 10px;
    z-index: 10;
    transform: rotate(45deg);
    transition: 1s;
}
#front-close #front-bg-line-2 {
    position: absolute;
    padding: 10px;
    z-index: 10;
    transform: rotate(135deg);
    transition: 1s;
}
#front-close #front-bg-line-3 {
    position: absolute;
    margin-top: 80px;
    z-index: 10;
    padding-left: 20px;
    transition: 1s;
}
#front-sh-line-close-1 {
    position: absolute;
    padding-left: 20px;
    transition: 1s;
}
#front-sh-line-close-2 {
    position: absolute;
    padding: 6px;
    transform: rotate(45deg);
    margin: 30px 0 0 55px;
    transition: 1s;
}
#front-sh-line-close-3 {
    padding: 6px;
    transform: rotate(135deg);
    margin: 30px 0 0 55px;
    transition: 1s;
}