@keyframes wiggle {
    0% { transform: rotate(0deg); }
   40% { transform: rotate(0deg); }
   55% { transform: rotate(5deg); }
   65% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
  
#menu-burger {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 50px;
}
.brgr-line {
    background-color: #fff;
    width: 70px;
    height: 10px;
    margin: 15px;
    border-radius: 2mm;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.line-shadow {
    background-color: #134160;
    width: 70px;
    height: 10px;
    margin: 100px 0 0 15px;
    border-radius: 2mm;
}
#sh-line-1 {
    position: absolute;
    box-shadow: 0px 0px 5px #134160;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}
#sh-line-2 {
    position: absolute;
    box-shadow: 0px 0px 5px #134160;
    margin-top: 100px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
}
#sh-line-3 {
    box-shadow: 0px 0px 5px #134160;
    margin-top: 100px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#burger {
    position: absolute;
    z-index: 10;
}
#burger:hover {
    display: inline-block;
    animation: wiggle 1s;
    transition-duration: 1s;
}
#burger:hover ~ #sh-line-1 {
    width: 60px;
    margin: 54px 0 0 50px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#burger:hover ~ #sh-line-2 {
    width: 65px;
    margin: 76px 0 0 40px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#burger:hover ~ #sh-line-3 {
    margin: 100px 0 0 30px;
    transition-delay: 800ms;
    transition-duration: 800ms;
}
#close #bg-line-1 {
    position: absolute;
    padding: 10px;
    z-index: 10;
    transform: rotate(45deg);
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#close #bg-line-2 {
    position: absolute;
    padding: 10px;
    z-index: 10;
    transform: rotate(135deg);
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#close #bg-line-3 {
    position: absolute;
    margin-top: 80px;
    z-index: 10;
    padding-left: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#sh-line-close-1 {
    position: absolute;
    padding-left: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#sh-line-close-2 {
    position: absolute;
    padding: 6px;
    transform: rotate(45deg);
    margin: 30px 0 0 55px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
#sh-line-close-3 {
    padding: 6px;
    transform: rotate(135deg);
    margin: 30px 0 0 55px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}