.front {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1600px;
    height: 100vh;
}
.hi {
    position: absolute;
    top: 28%;
    left: 22%;
    font-family: 'Raleway', sans-serif;
    color: #0091f1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.name {
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 4em;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.highlight:hover, .main-fade-1:hover {
    color: #0091f1;
    border: 1px solid #0091f1;
    text-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    box-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    transition: 350ms;
}
@keyframes pull-up {
    100% { top: 50%; opacity: 1; }
}
#l-1 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 1.2s;
    top: 1000px;
    opacity: 0;
}
#l-2 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 1.4s;
    top: 1300px;
    opacity: 0;
    left: 50px;
}
#l-3 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 1.6s;
    top: 1100px;
    opacity: 0;
    left: 66px;
}
#l-4 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 1.8s;
    top: 2000px;
    opacity: 0;
    left: 103px;
}
#l-5 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 2s;
    top: 1700px;
    opacity: 0;
    left: 145px;
}
#l-6 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 2.2s;
    top: 1200px;
    opacity: 0;
    left: 183px;
}
#l-7 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 2.4s;
    top: 1500px;
    opacity: 0;
    left: 210px;
} 
#l-8 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 2.6s;
    top: 1300px;
    opacity: 0;
    left: 240px;
}
#l-9 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 2.8s;
    top: 1900px;
    opacity: 0;
    left: 280px;
}
#l-10 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 3s;
    top: 1300px;
    opacity: 0;
    left: 353px;
}
#l-11 {
    position: absolute;
    color: #0091f1;
    border: 1px solid #0091f1;
    animation: pull-up .4s forwards;
    animation-delay: 3.2s;
    top: 1200px;
    opacity: 0;
    left: 397px;
}
#l-12 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 3.4s;
    top: 1700px;
    opacity: 0;
    left: 442px;
}
#l-13 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 3.6s;
    top: 1600px;
    opacity: 0;
    margin-top: 20px;
    left: 473px;
}
#l-14 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 3.8s;
    top: 1900px;
    opacity: 0;
    left: 515px;
}
#l-15 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 4s;
    top: 1900px;
    opacity: 0;
    left: 560px;
}
#l-16 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 4.2s;
    top: 1700px;
    opacity: 0;
    left: 627px;
}
#l-17 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 4.4s;
    top: 1500px;
    opacity: 0;
    left: 670px;
}
#l-18 {
    position: absolute;
    animation: pull-up .4s forwards;
    animation-delay: 4.6s;
    top: 1300px;
    opacity: 0;
    left: 703px;
}
.main {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.5em;   
    top: 48%;
    left: 25%;
    width: 900px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes fade-in {
    100% { opacity: 1; }
}
#w-1 {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 5s;
}
#w-2 {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 6s;
}
#w-3 {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 7s;
}
#main-front-page-button {
    position: absolute;
    top: 65%;
    left: 60%;
    font-size: 3em;
    padding: 10px 20px;
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 8s;
    border: 5px solid #0091f1;
    background: #fff;
    color: #001624;
    transition: .7s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes lets-go {
    100% { color : #0091f1; }
}
#main-front-page-button:hover {
    background: #001624;
    box-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    border: 7px solid #0091f1;
    transition: .7s;
}
#main-front-page-button:hover #b-1 {
    animation: lets-go .4s forwards;
}
#main-front-page-button:hover #b-2 {
    animation: lets-go .6s forwards;
}
#main-front-page-button:hover #b-3 {
    animation: lets-go .8s forwards;
}
#main-front-page-button:hover #b-4 {
    animation: lets-go 1s forwards;
}
#main-front-page-button:hover #b-5 {
    animation: lets-go 1.2s forwards;
}
#main-front-page-button:hover #b-6 {
    animation: lets-go 1.4s forwards;
}
#main-front-page-button:hover #b-7 {
    animation: lets-go 1.6s forwards;
}
#main-front-page-button:hover #b-8 {
    animation: lets-go 1.8s forwards;
}
#main-front-page-button:hover #b-9 {
    animation: lets-go 2s forwards;
}