.front-page-container {
    width: 100vw;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.front-page {
    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: column;
    top: 300px;
    transition: 1s;
}
.front-page-title {
    width: 100%;
    padding: 40px 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: #0091f1;
    line-height: 1em;
}
.front-page-name {
    width: 100%;
    padding: 40px 100px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
    font-size: 6em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    transition: 350ms;
}
.front-page-main {
    width: 100%;
    padding: 40px 0px 40px 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    padding-top: 100px;
    max-width: 800px;
}
.front-page-letters:hover, .main-fade-1:hover {
    color: #0091f1;
    border: 1px solid #0091f1;
    text-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    box-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    transition: 350ms;
}
@keyframes pull-up {
    100% { top: 185px; opacity: 1; }
}
#l-1, #l-2, #l-3, #l-4, #l-5, #l-6, #l-7, #l-8, #l-9, #l-10, #l-11, #l-12, #l-13, #l-14, #l-15, #l-16, #l-17, #l-18 {
    position: absolute;
    animation: pull-up .4s forwards;
    opacity: 0;
}
#l-1 {
    animation-delay: .8s;
    top: 1000px;
    left: 95px;
    transition: .2s;
}
#l-2 {
    animation-delay: .9s;
    top: 1300px;
    left: 157px;
    transition: .2s;
}
#l-3 {
    animation-delay: 1s;
    top: 1100px;
    left: 180px;
    transition: .2s;
}
#l-4 {
    animation-delay: 1.1s;
    top: 2000px;
    left: 225px;
    transition: .2s;
}
#l-5 {
    animation-delay: 1.2s;
    top: 1700px;
    left: 280px;
    transition: .2s;
}
#l-6 {
    animation-delay: 1.3s;
    top: 1200px;
    left: 325px;
    transition: .2s;
}
#l-7 {
    animation-delay: 1.4s;
    top: 1500px;
    left: 360px;
    transition: .2s;
} 
#l-9 {
    animation-delay: 1.6s;
    top: 1900px;
    left: 450px;
    transition: .2s;
}
#l-10 {
    animation-delay: 1.7s;
    top: 1300px;
    left: 540px;
    transition: .2s;
}
#l-11 {
    animation-delay: 1.8s;
    top: 1200px;
    left: 597px;
    transition: .2s;
}
#l-12 {
    animation-delay: 1.9s;
    top: 1700px;
    left: 655px;
    transition: .2s;
}
#l-13 {
    animation-delay: 2s;
    top: 1600px;
    left: 690px;
    transition: .2s;
}
#l-14 {
    animation-delay: 2.1s;
    top: 1900px;
    left: 740px;
    transition: .2s;
}
#l-15 {
    animation-delay: 2.2s;
    top: 1900px;
    left: 795px;
    transition: .2s;
}
#l-16 {
    animation-delay: 2.3s;
    top: 1700px;
    left: 875px;
    transition: .2s;
}
#l-17 {
    animation-delay: 2.4s;
    top: 1500px;
    left: 925px;
    transition: .2s;
}
#l-18 {
    animation-delay: 2.5s;
    top: 1300px;
    left: 963px;
    transition: .2s;
}
@keyframes flicker-on {
    25% { opacity: .3; }
    50% { opacity: .1; }
    75% { opacity: .8; }
    90% { opacity: .6; }
    100% { opacity: 1; }
}
@keyframes flicker-on-too {
    25% { opacity: .6; }
    75% { opacity: .4; }
    100% { opacity: 1; }
}
@keyframes turn-on {
    100% { opacity: 1; }
}
#w-1 {
    opacity: 0;
    animation: turn-on .2s forwards;
    animation-delay: 3s;
}
#w-2 {
    opacity: 0;
    animation: turn-on .2s forwards;
    animation-delay: 3.1s;
}
#w-3 {
    opacity: 0;
    animation: turn-on .6s forwards;
    animation-delay: 3.2s;
}
#w-4 {
    opacity: 0;
    animation: turn-on .2s forwards;
    animation-delay: 3.3s;
}
#w-5 {
    opacity: 0;
    animation: turn-on .4s forwards;
    animation-delay: 3.4s;
}
#w-6 {
    opacity: 0;
    animation: turn-on .2s forwards;
    animation-delay: 3.5s;
}
#front-page-button {
    position: absolute;
    top: 600px;
    left: 100px;
    font-size: 3em;
    padding: 10px 20px;
    opacity: 0;
    animation: turn-on 1s forwards;
    animation-delay: 5s;
    background: #fff;
    color: #001624;
    border: 5px solid #0091f1;
    transition: .7s;
    cursor: pointer;
}
@keyframes lets-go {
    100% { color : #0091f1; }
}
#front-page-button:hover {
    background: #001624;
    box-shadow: 0px 15px 20px rgba(0, 28, 121, 0.4);
    border: 7px solid #0091f1;
    transition: .7s;
}
#front-page-button:hover #b-1 {
    animation: lets-go .4s forwards;
}
#front-page-button:hover #b-2 {
    animation: lets-go .6s forwards;
}
#front-page-button:hover #b-3 {
    animation: lets-go .8s forwards;
}
#front-page-button:hover #b-4 {
    animation: lets-go 1s forwards;
}
#front-page-button:hover #b-5 {
    animation: lets-go 1.2s forwards;
}
#front-page-button:hover #b-6 {
    animation: lets-go 1.4s forwards;
}
#front-page-button:hover #b-7 {
    animation: lets-go 1.6s forwards;
}
#front-page-button:hover #b-8 {
    animation: lets-go 1.8s forwards;
}
#front-page-button:hover #b-9 {
    animation: lets-go 2s forwards;
}

@media(max-width: 800px) {
    .contact-links-container {
        transform: scale(.4);
        left: -10px;
    }
    .hamburger {
        position: absolute;
        margin: 20px 0 0 20px;
        display: block; 
        width: 35px; 
        cursor: pointer;
        transition: 1s;
        z-index: 100;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color:#FFF;
        margin: 8px 0px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    .hamburger-is-active {
        position: absolute;
    }
    .hamburger-is-active:before {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
        transition: .4s;
    }
    .hamburger-is-active:after {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        transition: .4s;
    }
    .hamburger-is-active .bar { 
        opacity: 0;
        transition: .4s;
    }
    .mobile-nav-is-active {
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: 1s;
        padding: 120px 10px 10px 10px;
    }
    .mobile-nav-is-active a {
        text-decoration: none;
        width: 95vw;
        background:#003e64;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        text-align: center;
        color: #fff;
        padding: 10px;
        margin-top: 5px;
        border-radius: 2mm;
    }
    .front-page-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .front-page {
        top: 200px;
        left: -50px;
        right: 80px;
    }
    .front-page-title {
        width: 100%;
        font-size: 1.5em;
    }
    .front-page-name {
        font-size: 3em;
        transition: 350ms;
    }
    @keyframes pull-up-mobile-first-name {
        100% { top: 110px; opacity: 1; }
    }
    #l-1, #l-2, #l-3, #l-4, #l-5, #l-6, #l-7, #l-8 {
        position: absolute;
        animation: pull-up-mobile-first-name .4s forwards;
        opacity: 0;
    }
    @keyframes pull-up-mobile-last-name {
        100% { top: 170px; opacity: 1; }
    }
    #l-9, #l-10, #l-11, #l-12, #l-13, #l-14, #l-15, #l-16, #l-17, #l-18 {
        position: absolute;
        animation: pull-up-mobile-last-name .4s forwards;
        opacity: 0;
    }
    #l-1 {
        animation-delay: .8s;
        top: 1000px;
        left: 95px;
        transition: .2s;
    }
    #l-2 {
        animation-delay: .9s;
        top: 1300px;
        left: 127px;
        transition: .2s;
    }
    #l-3 {
        animation-delay: 1s;
        top: 1100px;
        left: 140px;
        transition: .2s;
    }
    #l-4 {
        animation-delay: 1.1s;
        top: 2000px;
        left: 165px;
        transition: .2s;
    }
    #l-5 {
        animation-delay: 1.2s;
        top: 1700px;
        left: 195px;
        transition: .2s;
    }
    #l-6 {
        animation-delay: 1.3s;
        top: 1200px;
        left: 220px;
        transition: .2s;
    }
    #l-7 {
        animation-delay: 1.4s;
        top: 1500px;
        left: 240px;
        transition: .2s;
    } 
    #l-9 {
        animation-delay: 1.6s;
        top: 1900px;
        left: 95px;
        transition: .2s;
    }
    #l-10 {
        animation-delay: 1.7s;
        top: 1300px;
        left: 140px;
        transition: .2s;
    }
    #l-11 {
        position: absolute;
        animation-delay: 1.8s;
        top: 1200px;
        left: 170px;
        transition: .2s;
    }
    #l-12 {
        animation-delay: 1.9s;
        top: 1700px;
        left: 198px;
        transition: .2s;
    }
    #l-13 {
        animation-delay: 2s;
        top: 1600px;
        left: 218px;
        transition: .2s;
    }
    #l-14 {
        animation-delay: 2.1s;
        top: 1900px;
        left: 243px;
        transition: .2s;
    }
    #l-15 {
        animation-delay: 2.2s;
        top: 1900px;
        left: 270px;
        transition: .2s;
    }
    #l-16 {
        animation-delay: 2.3s;
        top: 1700px;
        left: 310px;
        transition: .2s;
    }
    #l-17 {
        animation-delay: 2.4s;
        top: 1500px;
        left: 335px;
        transition: .2s;
    }
    #l-18 {
        animation-delay: 2.5s;
        top: 1300px;
        left: 355px;
        transition: .2s;
    }
    .front-page-main {
        margin-top: -10px;
        font-size: 1em;
    }
    #front-page-button {
        display: none;
    }      
    #arrow-down-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 85%;
    }
    @keyframes bounce {
        50% { margin-top: 4px; }
        100% { margin-top: 0px; }
    }
    #arrow-down {
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        animation: bounce 1s infinite;
    }
}