@keyframes logo-in {
    0% { transform: rotate(-15deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-2deg); }
    100% { opacity: 1; transform: rotate(0deg); left: 50px; }
}
#logo {
    position: absolute;
    cursor: pointer;
    top: 50px;
    left: -400px;
    animation: logo-in 750ms forwards;
    font-family: 'Fredericka the Great', cursive;
    color: #fff;
    font-size: 3.5em;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#second-letter {
    color: #32adff;
}
@media(max-width: 800px) {
    #logo {
        display: none;
    }
}