@keyframes wiggle {
    0% { transform: rotate(0deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    90% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
#logo {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50px;
    font-family: 'Fredericka the Great', cursive;
    color: #fff;
    font-size: 2em;
    transition: 1s;
}
#logo:hover {
    animation: wiggle 1s forwards;
    /* transition: .5s; */
}