#logo {
    animation-delay: 1s;
}
@keyframes expand {
    100% { transform: scale(1); }
}
.contact-page-container {
    transform: scale(0);
    animation: expand 1s forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes from-right {
    100% { right: 50px; opacity: 1; }
}
.contact-page-nav ul {
    position: absolute;
    display: flex;
    flex-direction: row;
    opacity: 0;
    top: 50px;
    right: -5000px;
    animation: from-right 2s forwards;
}
.contact-page-nav ul li {
    cursor: pointer;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color:#008be7;
    padding: 30px;
    transition: .5s;
}
.contact-page-nav ul li:hover {
    color: #1F618D;
    transition: .5s;
}
@keyframes from-below {
    100% { top: 800px; opacity: 1; }
}
.contact-me-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 8000px;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: from-below 1.5s forwards;
}
.link-logos {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
#in-link, #t-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 4.8em;
    color: #fff;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 15px;
}
#in-link {
    background: #1F618D;
    border-radius: 20%;
    text-align: center;
}
#t-link {
    background: #0076C6;
    border-radius: 50%;
    text-align: center;
}
/* form */
.contact {
    min-height:100vh;
    padding-top:100px;
    padding-bottom:100px;
}
.container {
    max-width:1280px;
    margin:0 auto;
    padding-left:32px;
    padding-right:32px;
}
@media (min-width: 768px) {
    .container {
        padding-left:64px;
        padding-right:64px;
    }
}
@media (min-width: 1024px) {
    .container { 
        padding-left:128px;
        padding-right:128px;
    }
}
.container h1 {
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-size:2.2em;;
    text-align:center;
    margin-bottom:16px;
}
.container p {
    color:#fff;
    font-size:18px;
    line-height:1.5;
    margin-bottom:32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.container form {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr;
    grid-template-columns:1fr;
    grid-gap:16px;
    background-color:#FFF;
    padding:32px;
    border-radius:16px;
    -webkit-box-shadow:0px 6px 12px rgba(0,0,0,0.2);
    box-shadow:0px 6px 12px rgba(0,0,0,0.2);
}
@media (min-width: 768px) {
    .container form {
        -ms-grid-columns:(1fr);
        grid-template-columns:repeat(2, 1fr)
    }
}
.form-group.full {
    grid-column:1 / -1;
}
.form-group label {
    display:block;
    margin-bottom:5px;
    color:#888;
    font-size:14px;
}
.form-element {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    border:none;
    display:block;
    width:100%;
    border-radius:8px;
    padding:12px 16px;
    background-color:#F3F3F3;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.form-group .form-element:focus {
    -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    background-color:#FFF;
}
.form-group input {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.form-group textarea { 
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    resize:none;
    min-height:100px;
}
.submit-group {
    grid-column:1 / -1;
    text-align:right;
}
.submit-group input[type="submit"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline:none;
    background:none;
    padding:12px 16px;
    background-color:#00446e;
    border-radius:8px;
    color:#FFF;
    cursor:pointer;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.submit-group input[type="submit"]:hover {
    background-color:#001624;
}