@keyframes indicate {
    0% { right: 0; }
    50% { right: -20px; }
    65% { right: 0; }
    85% { right: -10px; }
    100% { right: 0; }
}

@-webkit-keyframes appear {
    100% { opacity: 1; }
}

@keyframes appear {
    100% { opacity: 1; }
}

.right-arrow-container {
    -webkit-animation: appear 350ms forwards;
    -webkit-animation-delay: 3.6s;
    animation: appear 350ms forwards;
    animation-delay: 3.6s;
    position: absolute;
    width: 70px;
    height: 80px;
    top: 50%;
    right: 30px;
    z-index: 1;
    opacity: 0;
}
.right-arrow {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
}
.right-arrow-one {
    position: absolute;
    top: 25%;
    right: 40px;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.right-arrow:hover {
    animation: indicate 2.5s infinite;
}
/* Front Page Style */
.about-right-arrow {
    opacity: 0;
    margin: 22px 0 0 -110px;
    font-style: italic;
    color: #fff;
    transition: 1s;
}
.right-arrow:hover .about-right-arrow {
    opacity: 1;
    transition: 1s;
}
/* About Page Style */
.portfolio-right-arrow {
    opacity: 0;
    margin: 22px 0 0 -110px;
    font-style: italic;
    color: #fff;
    transition: 1s;
}
.right-arrow:hover .portfolio-right-arrow {
    opacity: 1;
    transition: 1s;
}
/* Works Page Style */
.contact-right-arrow {
    opacity: 0;
    margin: 22px 0 0 -110px;
    font-style: italic;
    color: #fff;
    transition: 1s;
}
.right-arrow:hover .contact-right-arrow {
    opacity: 1;
    transition: 1s;
}