@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

/* Core Styles */
:root {
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
    --background-color: #001624;
    --twitter-blue: #03a9f4;
    --compliment-orange: #e08f1e;
    --off-white: #fff;
    --title: 'Yusei Magic', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html, body {
    background: var(--background-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Mobile First, 360 x 640 */
.desktop {
    display: none;
}
.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header Styles */
.monty {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2rem;
    color: var(--off-white);
}

.r {
    color: var(--twitter-blue);
}
/* 
.monty:hover .r {
    color: var(--compliment-orange);
    transition: 1.1s;
}

.monty:hover .m {
    color: var(--compliment-orange);
    transition: .1s;
}

.monty:hover .o {
    color: var(--compliment-orange);
    transition: .3s;
}

.monty:hover .n {
    color: var(--compliment-orange);
    transition: .5s;
}

.monty:hover .t {
    color: var(--compliment-orange);
    transition: .7s;
}

.monty:hover .y {
    color: var(--compliment-orange);
    transition: .9s;
} */

/* Brad Traversy Hamburger Menu */
/* .nav-link {
    color: var(--off-white);
}

.nav-link:hover {
    color: var(--compliment-orange);
}

.menu-wrap {
    display: none;
}
*/

.hamburger-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-link {
    color: var(--off-white);
    font-size: 1.5rem;
    padding: 20px;
}

.hamburger-menu {
    display: flex;
}

.menu-wrap {
    display: flex;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .toggler:checked {
    position: fixed;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 30px;
    height: 2px;
    background: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 30px;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    position: fixed;
    width: 30px;
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: var(--off-white);
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* Home Screen Styles */
#home-container {
    position: relative;
    background: transparent;
    height: 90vh;
}

#home-container .home-title {
    color: var(--twitter-blue);
    font-size: 1.3rem;
    margin-top: 10vh;
}

#home-container .home-subtitle {
    font-weight: 900;
    font-size: 3rem;
    margin-left: -3px;
}

#home-container .home-body {
    font-size: .9rem;
    margin-bottom: -10px;
}

#home-container .home-button {
    display: none;
}

@keyframes indicator {
    20% { margin-top: 10px; color: var(--compliment-orange); }
    50% { margin-top: 0px; }
}

.mobile-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: indicator 1s infinite;
    height: 60vh;
}

/* About Screen Styles */
#about-container {
    position: relative;
    left: -15px;
    width: 100vw;
    height: 100vh;
    background: url('./assets/bw-background.png');
    background-size: cover;
    background-position: left;
}
#about-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(2, 133, 255, 0.377);
    mix-blend-mode: overlay;
}
.about-body {
    color: white;
}

#about-container .about-button {
    display: none;
}

/* Works Screen Styles */
#works-container {
    height: 100vh;
}

#work-container .works-title {
    
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    font-size: 2rem;
    color: var(--compliment-orange);
}

#works-container .work-button {
    display: none;
}

/* Skills and Education Screen Styles */
#skills-and-education-container { 
    /* background: rgba(59, 64, 68, 0.459); */
}
#skills-and-education-container .skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#skills-and-education-container .education-card {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;
    margin: auto;
}

#skills-and-education-container .education-card .education-title {
    font-size: 1rem;
    color: var(--twitter-blue);
    margin-left: 2px;
}

#skills-and-education-container .education-card .education-course, .education-link {
    font-size: .8rem;
}

#skills-and-education-container .education-card .education-course li {
    list-style: none;
}

#skills-and-education-container .education-card .education-link {
    width: 70px;
    margin-top: -10px;
    margin-left: 4px;
}

/* Mobile Footer Styles */
.copyright {
    text-align: right;
    cursor: pointer;
}

.footer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#email {
    cursor: pointer;
}

#copied-box {
    position: absolute;
    margin-top: -5px;
    display: none;
}

#copied-speech-bubble {
    position: absolute;
    background: rgba(65, 82, 95, 0.85);
    margin-top: -45px;
    padding: 3px 6px;
}

#copied-speech-bubble-triangle {
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 15px solid rgba(65, 82, 95, 0.85);
    margin-top: 20px;
    margin-left: 15px;
}

#copied {
    color: var(--off-white);
}

#email:hover #copied-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
}

@keyframes pulse {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
#email:hover {
    animation: pulse .5s forwards;
}
@media(max-width: 400px) {
    .mobile-footer {
        height: 40vh;
    }
}