* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
html {
	background-color: #001624;
	overflow-x: hidden; 
    overflow-y: hidden;
}
.hide-div, #arrow-down {
	display: none;
}
@media(max-width: 800px) {
	html {
		overflow-y: visible;
	}
	.hide-div, #arrow-down {
		display: flex;
	}
}