/* @keyframes indicate-left {
    0% { left: 0; }
    50% { left: -20px; }
    65% { left: 0; }
    85% { left: -10px; }
    100% { left: 0; }
}

@-webkit-keyframes appear {
    100% { opacity: 1; }
}

@keyframes appear {
    100% { opacity: 1; }
}

.arrow-container-left {
    -webkit-animation: appear 350ms forwards;
    -webkit-animation-delay: 3.6s;
    animation: appear 350ms forwards;
    animation-delay: 3.6s;
    position: absolute;
    width: 70px;
    height: 80px;
    top: 50%;
    left: 30px;
    z-index: 1;
    opacity: 0;
}
.arrow-left {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
}
.arrow-left-one {
    position: absolute;
    top: 25%;
    right: 40px;
    width: 40px;
    height: 40px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
}
.works {
    opacity: 0;
    margin: 22px 0 0 -110px;
    font-style: italic;
    color: #fff;
    transition: 1s;
}
.arrow-left:hover {
    animation: indicate-left 2.5s infinite;
}
.arrow-left:hover .works {
    opacity: 1;
    transition: 1s;
} */