.navlink-container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #fff;
}
.name {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    margin: -60px 0 0 0;
    transition: .8s;
}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    height: 300px;
    width: 700px;
    text-align: center;
    border-radius: 20px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    transition: 1s;
}
p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.links {
    position: absolute;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: block;
    margin: 0 auto;
    transition: 1s;
}
.link-1 {
    border: 1px solid rgba(255,255,255,0.2);
    height: 120px;
    width: 120px;
    top: -20px;
    left: -40px;
    z-index: -1;
}
.link-2 {
    border: 1px solid rgba(255,255,255,0.2);
    height: 200px;
    width: 200px;
    bottom: 200px;
    right: -800px;
    z-index: -1;
}
.link-3 {
    border: 1px solid rgba(255,255,255,0.2);
    height: 80px;
    width: 80px;
    top: 60px;
    right: -560px;
}
.open-name {
    margin: 110px 0 0 180px;
    transition: 1.5s ease-in-out;
}
.open-main {
    margin-top: 400px;
    transition: 1s ease-in-out;
}
.open-link-1 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 220px;
    width: 220px;
    top: -541px;
    left: 480px;
    z-index: -1;
    transition: 1.2s;
}
.open-link-2 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 220px;
    width: 220px;
    bottom: 320px;
    right: -220px;
    z-index: -1;
    transition: 1s;
}
.open-link-3 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 220px;
    width: 220px;
    top: -541px;
    right: -461px;
    transition: 1.5s;
}
.hide {
    display: none;
    transition-delay: 2s;
    transition: 1.5s;
}
.show {
    display: block;
    margin-top: 85px;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-align: center;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.3);
}
.show:hover {
    cursor: pointer;
    font-size: 4.3em;
    transition: 1s;
}